@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

main {
    background-color: #d6e2f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 #2e2c2c;
    background-color: #fff;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
}

.card img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    border: 1px;
    border-radius: 5px;
}

h1 {
    font-size: 20px;
    font-family: 'Outfit';
    color: #1f3251;
}

.card p {
    font-size: 15px;
    font-family: 'Outfit';
    padding: 5px;
    color: #7b879d;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-family: 'Outfit';
    font-size: small;
}