@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.card {
    box-shadow: 0 4px 8px 0 #2e2c2c;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.img {
    border: 1px;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}